
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', 'sans-serif';
    color: #1d3557;
    font-size: 14px;
    letter-spacing: 0.7px;
}

p {
    margin: 0;
    
}

h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
font-weight: bold;



}

h1,h3{
    text-transform: uppercase;
}
h3 {
    letter-spacing: 4px;
    position: relative;
}
 
h3::before{
    content: '';
    width: 60px;
    height: 5px ;
    display: block;
    background-color: #001C55;
    position: absolute;
    bottom: -10px;
}


article {
    min-height: 150px;
    margin: 8px auto;
}


.contenedor{
    display: flex;
    /*dimension de formato papel a4 */
    width: 595px;
    min-height: 842px;
    margin: 0 auto;
    background-color: #f1faee;
    outline: rgb(98, 96, 96) double 5px;
}


.section1 {
    width: 40%;
    background-color: #f2e9e4;

}
.section2{
    width: 60%;
background-color: #8ecae6;
}
.section1,.section2 {
    padding: 25px;

}



.alvin{
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    display: block;
}


.listado-contacto {
    list-style: none;
    padding: 0;
    margin: 0;
}

.parrafo-profesion {
    font-size: 18px;
    text-align: center;


}


.display-flex{
    display: flex;
}

.icono-lista {

}